@layout('layout.main')
@section('body')
    <a class="btn btn-secondary m-3" href="" role="button">kembali</a>
    <div></div>
    <div class="media">
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            <p>komentar</p>
            <img>
        </div>
    </div>
    <button class="btn btn-primary" id="btn">komentar</button>
@endsection