@layout('layout.main')
@section('body')
    <a class="btn btn-secondary m-3" href="" role="button">kembali</a>
    <div class="container mt-3">
        <h2></h2> <!-- nama mata kuliah-->
    </div>
@endsection